html {
  font-family: Georgia, serif;
  color: #2f2d13;
  box-sizing: border-box;
  line-height: 1.5em;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
  display: block;
  padding: 0 .75em;
}

h1, h2 {
  text-align: center;
  font-size: 3rem;
  font-family: "Sigmar One", cursive;
  color: #cc1465;
  margin: .75em .75em 0;
}

h2 {
  text-align: left;
  font-size: 1.875rem;
  margin: .75em;
}

.nav {
  display: block;
  background-color: #ffe500;
  border-top: .05px solid #ffe500;
  border-bottom: .05px solid #ffe500;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 1.125rem 0 .75rem;
}

li {
  display: inline-block;
}

.buttons {
  background-color: #b2a212;
  border-radius: 4px;
  padding: .2em .5em .3em;
  font-size: 1.125rem;
  color: #fff;
}

.current {
  background-color: #713837;
}

.buttons a {
  text-decoration: none;
  color: #fff;
}

.buttons a:hover {
  background-color: #b20953;
  color: #fff;
}

.buttons:hover {
  background-color: #b20953;
}

body {
  margin: 0;
  text-align: center;
  padding: 0;
}

p {
  padding: .3em .75em;
}

.end {
  display: block;
  background-color: #ffe500;
  border-top: .05px solid #ffe500;
  border-bottom: .05px solid #ffe500;
  text-align: center;
}
